{% load static %}
{% load mathfilters %}
{% static "images" as baseUrl %}
{% include "mastertemplates/header.html" %}

<!-- End Navbar -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            {% if purchase_order_details %}
                <div class="col-lg-9 col-md-12">


                    <div class="card">
                        <div class="card-header card-header-warning">
                            <h4 class="card-title"><b> Purchase Order Details </b> <a
                                    href="?pid={{ purchase_order_id }}&download=downloadpurchaseorder"><img class="img"
                                                                                                            src="{% static  '/img/download.png' %}"
                                                                                                            height="30px"/></a>
                            </h4>
                            <p class="card-category">

                            <div class="col-lg-12 col-md-12">
                                {% if tracking %}
                                    <a target="_blank" href="{{ courier_link }}"
                                       class="btn btn-round btn-fill btn-success">Track
                                        Purchase Order</a>
                                {% else %}
                                    <a href="#" class="btn btn-round btn-fill btn-danger">Track Purchase Order</a>
                                {% endif %}
                            </div>
                            <div class="col-lg-12 col-md-12">
                                {% if purchase_order_submitted %}
                                    <h3><img class="img" src="{% static  '/img/check.png' %}" height="45px"/> Submitted
                                        on {{ purchase_order_submitted_date }}</h3>
                                {% else %}

                                    <h3><img class="img" src="{% static  '/img/error-flat.png' %}" height="30px"/>
                                        Purchase Order not submitted!</h3>

                                {% endif %}
                            </div>


                            </p>

                        </div>
                        <div class="card-body table-responsive">
                            <form action="changepurchaseorderstatus" method="post">
                                {% csrf_token %}
                                <table id="notrefunded" class="table table-hover">
                                    <thead class="text-warning">

                                    <th></th>
                                    <th></th>
                                    </thead>
                                    <tbody>


                                    <tr>
                                        <td><b>Purchase Order ID</b></td>
                                        <td><b>{{ purchase_order_id }}</b></td>
                                        <input type="text" class="btn btn-round btn-fill btn-success" name="pid"
                                               value="{{ purchase_order_id }}" hidden/>

                                    </tr>

                                    <tr>
                                        <td><b>Created Date</b></td>
                                        <td><b>{{ purchase_order_created_date }}</b>

                                            <input type="submit" name="movetoday"
                                                   class="btn btn-round btn-fill btn-info"
                                                   value="Change To Today"/>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>Supplier Name</b></td>
                                        <td><b>{{ purchase_order_suppliername }}</b></td>

                                    </tr>
                                    <tr>
                                        <td><b>Total Cost</b></td>
                                        <td><b>$ {{ costprice }}</b></td>

                                    </tr>
                                    <tr>
                                        <td><b>Tracking ID</b></td>
                                        <td><b>
                                            <input type="text" class="form-control" name="trackingid"
                                                   value="{{ purchase_order_trackingid }}"/>

                                        </b></td>

                                    </tr>
                                    <tr>
                                        <td><b>Courier Name</b></td>
                                        <td><b>

                                            <input type="text" class="form-control" name="courier"
                                                   value="{{ purchase_order_courier }}"/>
                                        </b>
                                            <label class="bmd-label-floating">startrack , geelong express , fastway ,
                                                tasmania freight , tnt , Aus post</label>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><b>Alias</b></td>
                                        <td><b> <input type="text" class="form-control" name="alias"
                                                       value="{{ purchase_order_submitted_alias }}"/>
                                        </b></td>
                                    </tr>
                                                <tr>
                                        <td><b>Received Date</b></td>
                                        <td><b> {{ received_date }}
                                        </b></td>
                                    </tr>


                                       <tr>
                                        <td><b>Internal Notes</b></td>
                                        <td><b> <input type="text" class="form-control" name="internal_notes"
                                                       value="{{ internal_notes }}"/>
                                        </b></td>
                                    </tr>





                                    </tbody>
                                </table>
                                {% if viewsubpurchaseorders %}
                                    <div align="center">

                                        <a href="subpurchaseorders?pid={{ purchase_order_id }}" target="_blank"
                                           class="btn btn-round btn-fill btn-success">View DropShip Purchase Orders</a>

                                    </div>
                                {% endif %}
                                <div align="center">
                                    <input type="submit" name="save" class="btn btn-round btn-fill btn-info"
                                           value="Update Purchase Order"/>
                                </div>
                                <div align="center">

                                    {% if purchase_order_submitted %}
                                        <input type="submit" name="unsubmit" class="btn btn-round btn-fill btn-danger"
                                               value="UnSubmit Purchase Order"/>
                                    {% else %}
                                        <input type="submit" name="submit" class="btn btn-round btn-fill btn-success"
                                               value="Submit Purchase Order"/>
                                        {% if eligible %}
                                            <p><b>{{ msg }}</b></p>
                                        {% else %}
                                            <p><b>{{ msg }}</b></p>
                                        {% endif %}

                                    {% endif %}



                                    <div align="center">
                                        {% for message in messages %}
                                            <h3>
                                                {{ message }}
                                            </h3>
                                        {% endfor %}
                                    </div>
                                </div>


                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header card-header-warning">
                            <h4 class="card-title"><b><a href="?download=purchaseorders"> Products Details</a> </b></h4>
                            <p class="card-category">An item can be marked as drop-shipped only if its yet to be
                                submitted. Click update purchase order once the items have been marked as
                                drop-shipped.</p>

                        </div>
                        <div class="card-body table-responsive">

                            <table id="notrefunded" class="table table-hover">
                                <thead class="text-warning">
                                <th><b>Orderlineid</b></th>
                                <th><b>SKU</b></th>
                                <th><b>QTY</b></th>
                                <th><b>Part No</b></th>
                                <th><b>Stock</b></th>
                                <th><b>DropShip</b></th>
                                 <th><b>Reorder</b></th>

                                </thead>
                                <tbody>
                                {% for key,value in dict_sku_part_number.items %}
                                    <tr>
                                        <td><b>{{ value.orderlineid }}</b></td>
                                        <td><b>{{ value.sku }}</b></td>
                                        <td><b>{{ value.qty }}</b></td>
                                        <td><b>{{ value.partnumber }}</b></td>
                                        <td><b>{{ value.stock }}</b></td>
                                        <td>
                                            <div class="form-check">
                                                <label class="form-check-label">

                                                    {% if purchase_order_submitted %}
                                                        <input class="form-check-input" type="checkbox"
                                                               name="{{ value.orderlineid }}:dropship" disabled
                                                               value="False">

                                                    {% else %}
                                                        <input class="form-check-input" type="checkbox"
                                                               name="{{ value.orderlineid }}:dropship" value="False">

                                                    {% endif %}




                                                    {% if not value.dropship %}
                                                        <span class="form-check-sign">
                                    <span class="check"></span>
                                  </span>
                                                    {% endif %}
                                                </label>
                                            </div>

                                        </td>
                                     <td>
                                            <div class="form-check">
                                                <label class="form-check-label">


                                                        <input class="form-check-input" type="checkbox"
                                                               name="{{ value.orderlineid }}:reorder" value="False">




                                                    {% if not value.reorder %}
                                                        <span class="form-check-sign">
                                    <span class="check"></span>
                                  </span>
                                                    {% endif %}




                                                </label>
                                            </div>

                                        </td>


                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>


                        </div>

                    </div>
                </div>
                </form>
                {% if show_order_ids %}
                    <div class="col-lg-3 col-md-12">
                        <div class="card">
                            <div class="card-header card-header-warning">
                                <h4 class="card-title"><b><a href="?download=purchaseorders"> Order IDs</a> </b></h4>
                                <p class="card-category"></p>

                            </div>
                            <div class="card-body table-responsive">


                                <table class="table table-hover">
                                    <thead class="text-warning">

                                    <th><b></b></th>
                                    <th></th>
                                    </thead>
                                    <tbody>
                                    {% for item in list_of_order_ids %}
                                        <tr>
                                            <td><b><a
                                                    href="https://www.findsports.com.au/_cpanel/order/vieworder?id={{ item }}"
                                                    target="_blank">{{ item }}</a></b></td>
                                            <td><img src="{% static  '/img/neto.png' %}"/></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                {% endif %}


            {% endif %}


        </div>


        {% include "mastertemplates/jsfiles.html" %}


