{% load static %}
{% load mathfilters %}
{% static "images" as baseUrl %}
{% include "mastertemplates/header.html" %}

<!-- End Navbar -->
<div class="content">
    <div class="container-fluid">
     {% if request.user.is_staff %}
        <div class="row">

            {% if generate_purchase_order %}
                <div class="col-lg-12 col-md-12">

                    {% for supplier in unique_list_of_suppliers %}
                        <a href="?newPurchaseOrder=True&supplier={{ supplier }}"
                           class="btn btn-round btn-fill btn-info">{{ supplier }}</a>
                    {% endfor %}

                    {% if SupplierSelected %}

                        {#Displaying list of order ids for a supplier#}

                        <div class="col-lg-6 col-md-12">
                            <div class="card">
                                <div class="card-header card-header-warning">
                                    <h4 class="card-title"><b><a href="?download=purchaseorders"> {{ supplier }} </a>
                                    </b></h4>
                                    <p class="card-category"><b>Total Cost Price: {{ costprice }}</b></p>
                                    <p class="card-category"><b>{{ msg }}</b></p>

                                    {% if eligible %}
                                        <a href="?newPurchaseOrder=True&supplier={{ supplier }}&generate=True"
                                           class="btn btn-round btn-fill btn-success">Generate Purchase Order</a>
                                    {% else %}
                                        <a href="?newPurchaseOrder=True&supplier={{ supplier }}&generate=True"
                                           class="btn btn-round btn-fill btn-danger">Generate Purchase Order</a>
                                    {% endif %}


                                </div>
                                <div class="card-body table-responsive">
                                    <table id="notrefunded" class="table table-hover">
                                        <thead class="text-warning">
                                        <th><b>SKU</b></th>
                                        <th><b>Order ID</b></th>


                                        </thead>
                                        <tbody>


                                        {% for order_line_id,sku_order_id in dict_of_sku_order_id.items %}


                                            <tr>

                                                <td><b>{{ sku_order_id.SKU }}</b></td>
                                                <td><b>{{ sku_order_id.order_id }}</b></td>


                                            </tr>


                                        {% endfor %}


                                        </tbody>
                                    </table>
                                </div>


                            </div>

                        </div>
                    {% else %}
                        {% if nosuppliersfound %}
                            <h3>No new backorders found which haven't already been processed!</h3>
                            <br><br>
                            <p>Note: Cron runs every 2 hours to sync orders with Neto . If requirement is urgent then
                                click on the force run button below. Force runing might take some time , Please be
                                patient and dont refresh the browser. </p>
                        {% else %}
                            <h1>Select a supplier!</h1>
                        {% endif %}
                        <h3><a href="https://www.findsports.com.au/export/findsportsdashboard/PurchaseOrder.csv"
                               target="_blank">Click to download new back order file from Neto</a></h3>
                        <form action="processcronnewbackorder" method="post">
                            {% csrf_token %}
                            <input type="submit" name="runcron" class="btn btn-round btn-fill btn-danger"
                                   value="Force run cron">


                        </form>
                    {% endif %}


                </div>
            {% else %}


                <div class="col-lg-12 col-md-12">
                    <a href="?newPurchaseOrder=True" class="btn btn-round btn-fill btn-success">Generate New Purchase
                        Order</a>
                    <button id="tutorialbutton" class="btn btn-round btn-fill btn-info">How to Generate a Purchase
                        Order ?
                    </button>
                </div>

                <div id="tutorialdiv" style="display: none;" class="col-lg-12 col-md-12">
                    <div class="card">
                        <div class="card-header card-header-tabs card-header-primary">
                            <div class="nav-tabs-navigation">
                                <div class="nav-tabs-wrapper">
                                    <span class="nav-tabs-title">Steps to create a purchase order</span>

                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="profile">
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value="">
                                                        <span class="form-check-sign">
                                    <span class="check"></span>
                                  </span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Before creating a purchase order make sure that you have imported Kogan
                                                Orders into Neto from the manifest file sent to orders@findsports.com.au
                                                and
                                                transferred all new/pick/hold orders (as applicable) to "New Back Order"
                                                status.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value="">
                                                        <span class="form-check-sign">
                                    <span class="check"></span>
                                  </span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Click on the Green "Generate New Purchase Order" button .</td>
                                        </tr>


                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value="">
                                                        <span class="form-check-sign">
                                    <span class="check"></span>
                                  </span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>You should see a list of suppliers in this page. If you don't see any
                                                suppliers then click on the force run cron button
                                                and wait till the page loads completely . This might take upto 5 mins or
                                                more so be patient . If due to some reason you get any error while
                                                running the cron please contact admin asap to run the cron instantly or
                                                wait for a max 2 hrs for the cron to run automatically .
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value="">
                                                        <span class="form-check-sign">
                                    <span class="check"></span>
                                  </span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>After selecting a supplier (You will see a small summary of that
                                                supplier) click
                                                the generate button and then click on create purchase order button . If
                                                you wish to transfer the purchase order to another existing purchase
                                                order , you need to supply the purchase order id (not the alias) of the
                                                previous
                                                purchase order at the bottom.This step is useful for those cases when a
                                                previous purchase order has been created but is not submitted due to low
                                                cost value.You can add the new items in the old purchase order so that
                                                it becomes eligible to be submitted. Otherwise simply click on the
                                                generate
                                                purchase order button.
                                            </td>
                                        </tr>


                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value="">
                                                        <span class="form-check-sign">
                                    <span class="check"></span>
                                  </span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>You will then be taken to the purchase order details page of the newly
                                                created purchase order. You can edit the purchase order her and download
                                                the purchase order as well.
                                            </td>
                                        </tr>


                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value="">
                                                        <span class="form-check-sign">
                                    <span class="check"></span>
                                  </span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>After sending the downloaded purchase order to the supplier you need to
                                                go to the purchase orders home page and mark the purchase order as
                                                submitted .
                                            </td>
                                        </tr>


                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value="">
                                                        <span class="form-check-sign">
                                    <span class="check"></span>
                                  </span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>After a purchase order is marked as submitted you need to confirm the
                                                stock of the purchase order . In a typlical case you would wait for the
                                                supplier's email with stock confirmation and then mark the products out
                                                of stock in this section. Once the stock is updated it will
                                                automatically show which orders need to be refunded under the refund
                                                tracker page.
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value="">
                                                        <span class="form-check-sign">
                                    <span class="check"></span>
                                  </span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Last step is to chase and add tracking id to the purchase order from the
                                                supplier and updated the tracking details in the Tracking ID section of
                                                the dashboard.
                                            </td>
                                        </tr>


                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value="">
                                                        <span class="form-check-sign">

                                  </span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td><h3>Note: If a supplier is already in the pending submit stage and you
                                                attempt to create another purchase order for the same supplier ,by
                                                default the system will alert you to create it under the existing
                                                purchase order and will autofill the previous purchase order id(You dont
                                                need to do it manually!). It is important that you read the alert boxes
                                                (if any) on every page carefully as after a purchase order is created
                                                it's products cannot be transferred to another purchase order.If you add
                                                new products to an existing unsubmitted purchase order don't forget to
                                                change the date to today(If you plan to submit it today,otherwise it
                                                will remain assigned in the original date)</h3></td>
                                        </tr>


                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane" id="messages">
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                               checked="">
                                                        <span class="form-check-sign">
                                    <span class="check"></span>
                                  </span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Flooded: One year later, assessing what was lost and what was found when
                                                a ravaging rain swept through metro Detroit
                                            </td>
                                            <td class="td-actions text-right">
                                                <button type="button" rel="tooltip" title=""
                                                        class="btn btn-primary btn-link btn-sm"
                                                        data-original-title="Edit Task">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button type="button" rel="tooltip" title=""
                                                        class="btn btn-danger btn-link btn-sm"
                                                        data-original-title="Remove">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value="">
                                                        <span class="form-check-sign">
                                    <span class="check"></span>
                                  </span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Sign contract for "What are conference organizers afraid of?"</td>
                                            <td class="td-actions text-right">
                                                <button type="button" rel="tooltip" title=""
                                                        class="btn btn-primary btn-link btn-sm"
                                                        data-original-title="Edit Task">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button type="button" rel="tooltip" title=""
                                                        class="btn btn-danger btn-link btn-sm"
                                                        data-original-title="Remove">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane" id="settings">
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value="">
                                                        <span class="form-check-sign">
                                    <span class="check"></span>
                                  </span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Lines From Great Russian Literature? Or E-mails From My Boss?</td>
                                            <td class="td-actions text-right">
                                                <button type="button" rel="tooltip" title=""
                                                        class="btn btn-primary btn-link btn-sm"
                                                        data-original-title="Edit Task">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button type="button" rel="tooltip" title=""
                                                        class="btn btn-danger btn-link btn-sm"
                                                        data-original-title="Remove">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                               checked="">
                                                        <span class="form-check-sign">
                                    <span class="check"></span>
                                  </span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Flooded: One year later, assessing what was lost and what was found when
                                                a ravaging rain swept through metro Detroit
                                            </td>
                                            <td class="td-actions text-right">
                                                <button type="button" rel="tooltip" title=""
                                                        class="btn btn-primary btn-link btn-sm"
                                                        data-original-title="Edit Task">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button type="button" rel="tooltip" title=""
                                                        class="btn btn-danger btn-link btn-sm"
                                                        data-original-title="Remove">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                               checked="">
                                                        <span class="form-check-sign">
                                    <span class="check"></span>
                                  </span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Sign contract for "What are conference organizers afraid of?"</td>
                                            <td class="td-actions text-right">
                                                <button type="button" rel="tooltip" title=""
                                                        class="btn btn-primary btn-link btn-sm"
                                                        data-original-title="Edit Task">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button type="button" rel="tooltip" title=""
                                                        class="btn btn-danger btn-link btn-sm"
                                                        data-original-title="Remove">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12">
                </div>

                {% if unique_dates %}
                    {#                    Showing list of all created on dates#}

                    <div class="col-lg-4 col-md-12">

                        <div class="card">
                            <div class="card-header card-header-warning">
                                <h4 class="card-title"><b><a href="?download=purchaseorders"> PURCHASE ORDERS
                                </a> </b></h4>
                                <p class="card-category">Select a date to view all purchase orders on that date</p>

                            </div>
                            <div class="card-body table-responsive" style="overflow-y: scroll; height:400px;">
                                <table id="notrefunded" class="table table-hover">
                                    <thead class="text-warning">
                                    <th><b>Created</b></th>

                                    </thead>
                                    <tbody>

                                    {% for date in list_of_unique_dates %}


                                        <tr>
                                            <td><b><a href="?created_on={{ date }}">{{ date }}</a></b></td>

                                        </tr>


                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>


                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">

                        <div class="card">
                            <div class="card-header card-header-warning">
                                <h4 class="card-title"><b><a href="?download=purchaseorders"> <img class="img"
                                                                                                   src="{% static  '/img/error-flat.png' %}"
                                                                                                   height="20px"/>
                                    UNCONFIRMED STOCK </a> </b></h4>
                                <p class="card-category">Note:Showing only purchase orders for suppliers that have been
                                    ordered online. Others can be found under Warehouse. </p>

                            </div>
                            <div class="card-body table-responsive">
                                <table id="notrefunded" class="table table-hover">
                                    <thead class="text-warning">
                                    <th><b>Purchase ID</b></th>
                                    <th><b>Submitted</b></th>
                                    <th><b>Days</b></th>
                                    </thead>
                                    <tbody>

                                    {% for item in dict_purchase_order_submitted_date %}
                                        {% if item.3 >= 3 %}
                                            <tr bgcolor="#FA8072">
                                                {% else %}
                                            <tr>
                                        {% endif %}

                                    <td><b><a href="purchaseorderstockconfirm?pid={{ item.2 }}">{{ item.0 }}</a></b>
                                    </td>
                                    <td><b>{{ item.1 }}</b></td>
                                    <td><b>{{ item.3 }}</b></td>

                                    </tr>


                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>


                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">


                        <div class="card">
                            <div class="card-header card-header-warning">

                                <h4 class="card-title"><b> <img class="img" src="{% static  '/img/error-flat.png' %}"
                                                                height="20px"/> PENDING SUBMIT </b></h4>
                                <p class="card-category">Purchase Orders Not Submitted </p>


                            </div>
                            <div class="card-body table-responsive">
                                <table id="notrefunded" class="table table-hover">
                                    <thead class="text-warning">
                                    <th><b>PID</b></th>
                                    <th><b>Created</b></th>
                                    <th><b>Days</b></th>


                                    </thead>
                                    <tbody>

                                    {% for order in list_of_submit_pending %}
                                        {% if order.1 >= 3 %}
                                            <tr bgcolor="#FA8072">
                                                {% else %}
                                            <tr>
                                        {% endif %}

                                    <td><b><a
                                            href="/purchaseorder?pid={{ order.3 }}"
                                    >{{ order.0 }}</a></b></td>
                                    <td><b>{{ order.2 }}</b></td>
                                    <td><b>{{ order.1 }}</b></td>

                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>


                        </div>
                    </div>



                    <div class="col-lg-4 col-md-12">

                        <div class="card">
                            <div class="card-header card-header-warning">
                                <h4 class="card-title"><b><a href="?download=purchaseorders"> PURCHASE ORDER BY SUPPLIER
                                </a> </b></h4>
                                <p class="card-category">Select a Supplier to view all purchase orders of that
                                    supplier</p>

                            </div>
                            <div class="card-body table-responsive" style="overflow-y: scroll; height:400px;">
                                <table id="notrefunded" class="table table-hover">
                                    <thead class="text-warning">
                                    <th><b>Supplier</b></th>

                                    </thead>
                                    <tbody>

                                    {% for supplier in List_of_unique_suppliers %}


                                        <tr>
                                            <td><b><a href="?supplier_name={{ supplier }}">{{ supplier }}</a></b></td>

                                        </tr>


                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>


                        </div>
                    </div>








                {% else %}
                    {#                   showing list of purchase orders created on a specific date #}
                    <div class="col-lg-6 col-md-12">
                        <div class="col-lg-4 col-md-12">
                            <div class="card card-stats">
                                <div class="card-header">

                                    <div align="center" class="card-icon">
                                        <i class="material-icons">
                                        </i>


                                    </div>
                                    <div align="center">
                                        <h3 class="card-title">  {{ number_of_purchase_orders }} </h3>

                                    </div>


                                </div>

                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header card-header-warning">
                                <h4 class="card-title"><b><a href="?download=purchaseorders"> Purchase Orders</a> </b>
                                </h4>
                                <p class="card-category">Showing all purchase orders created
                                    on {{ created_on_date }}</p>

                            </div>
                            <div class="card-body table-responsive">
                                <table id="notrefunded" class="table table-hover">
                                    <thead class="text-warning">
                                    <th><b>PID</b></th>
                                    <th><b>Supplier</b></th>
                                    <th><b>Created On</b></th>


                                    </thead>
                                    <tbody>

                                    {% for purchase_id_alias in List_of_dated_dict %}
                                        {% if purchase_id_alias.6 %}
                                            <tr>
                                                {% else %}
                                            <tr bgcolor="#FA8072">
                                        {% endif %}
                                    <td><b><a href="?pid={{ purchase_id_alias.1 }}">{{ purchase_id_alias.0 }}</a></b>
                                    </td>
                                    <td><b>{{ purchase_id_alias.2 }}</b></td>
                                    <td><b>{{ purchase_id_alias.3 }}</b></td>

                                    </tr>



                                    {% endfor %}


                                    </tbody>
                                </table>
                            </div>


                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>

          {% else %}
     <div>
         <h1>You are not authorized to view this page. Please contact Admin!</h1>
     </div>
    {% endif %}

        {% include "mastertemplates/jsfiles.html" %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script>
            $(document).ready(function () {

                $("#tutorialbutton").click(function () {

                    $("#tutorialdiv").toggle();
                });
            });
        </script>